New Text Document.txt
[{"id":"99a8098.9e6b4f8","type":"tab","label":"Flow 2","disabled":false,"info":""}
,{"id":"bb4e915.47a057","type":"debug","z":"99a8098.9e6b4f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":475,"y":200,"wires":[],"l":false},{"id":"6174d1a2.0f37e","type":"function","z":"99a8098.9e6b4f8","name":"","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":260,"wires":[["bb4e915.47a057","2868d8b.a3c4828","e1548d8c.8d352","393e831b.7b82ac","dc9afba8.6a3258","8f3e5f39.9d11d"]],"l":false},{"id":"814fc4b5.054d88","type":"function","z":"99a8098.9e6b4f8","name":"process the query","func":"msg={\n    discoveryparams:\n    {\n        \"environment_id\":\"system\",\n        \"query\":msg.payload.input\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":175,"y":260,"wires":[["a61466a9.c977c8"]],"l":false},{"id":"25682418.917c0c","type":"function","z":"99a8098.9e6b4f8","name":"positive","func":"msg.payload = msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":300,"wires":[["7253eef6.a9b13"]]},
{"id":"55303404.c27a8c","type":"debug","z":"99a8098.9e6b4f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment","targetType":"msg","x":580,"y":460,"wires":[]},
{"id":"393e831b.7b82ac","type":"function","z":"99a8098.9e6b4f8","name":"author","func":"msg.payload=msg.search_results.results[0].auhtor\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":60,"wires":[["2a96fde6.cea792"]]},
{"id":"8f3e5f39.9d11d","type":"function","z":"99a8098.9e6b4f8","name":"mainpage url","func":"msg.payload=msg.search_results.results[0].mainpageurl\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["8787c644.d6e508"]]},
{"id":"dc9afba8.6a3258","type":"function","z":"99a8098.9e6b4f8","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":100,"wires":[["1e174a8a.f69e65"]]},
{"id":"6833d3e4.d2368c","type":"function","z":"99a8098.9e6b4f8","name":"sentiment","func":"msg.payload = msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":420,"wires":[["b72a948c.cf3be8","45085a6d.17bf54"]]},
{"id":"17633075.99fbc","type":"function","z":"99a8098.9e6b4f8","name":"negative","func":"msg.payload = msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":360,"wires":[["e60aef32.ce5b2"]]},
{"id":"a61466a9.c977c8","type":"watson-discovery-v1","z":"99a8098.9e6b4f8","name":"","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/71d14f9f-56df-4d8b-9e9e-521bac77d9fe","x":280,"y":200,"wires":[["6174d1a2.0f37e"]]},
{"id":"63084be3.3e60e4","type":"inject","z":"99a8098.9e6b4f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":400,"wires":[["469a0f4d.fc3ab"]]},
{"id":"e1548d8c.8d352","type":"sentiment","z":"99a8098.9e6b4f8","name":"","property":"payload","x":400,"y":320,"wires":[["55303404.c27a8c","25682418.917c0c","17633075.99fbc","6833d3e4.d2368c"]]},
{"id":"469a0f4d.fc3ab","type":"ui_form","z":"99a8098.9e6b4f8","name":"","label":"","group":"21094c43.522aa4","order":1,"width":"10","height":"4","options":[{"label":"search for news","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":260,"wires":[["814fc4b5.054d88"]]},
{"id":"2868d8b.a3c4828","type":"ui_text","z":"99a8098.9e6b4f8","group":"21094c43.522aa4","order":3,"width":"10","height":"4","name":"","label":"Search Result","format":"{{msg.payload}}","layout":"col-center","x":580,"y":260,"wires":[]},
{"id":"2a96fde6.cea792","type":"ui_text","z":"99a8098.9e6b4f8","group":"21094c43.522aa4","order":8,"width":"27","height":"1","name":"","label":"author","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":60,"wires":[]},
{"id":"8787c644.d6e508","type":"ui_text","z":"99a8098.9e6b4f8","group":"21094c43.522aa4","order":8,"width":"27","height":"1","name":"","label":"mainpage url","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":140,"wires":[]},
{"id":"1e174a8a.f69e65","type":"ui_text","z":"99a8098.9e6b4f8","group":"21094c43.522aa4","order":8,"width":"23","height":"1","name":"","label":"url","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":100,"wires":[]},
{"id":"45085a6d.17bf54","type":"ui_gauge","z":"99a8098.9e6b4f8","name":"","group":"21094c43.522aa4","order":2,"width":"5","height":"5","gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":460,"wires":[]},{"id":"7253eef6.a9b13","type":"ui_chart","z":"99a8098.9e6b4f8","name":"","group":"21094c43.522aa4","order":3,"width":"3","height":"6","label":"Positive chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"fetching positive sentiment","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":300,"wires":[[]]},
{"id":"e60aef32.ce5b2","type":"ui_chart","z":"99a8098.9e6b4f8","name":"","group":"21094c43.522aa4","order":4,"width":"3","height":"6","label":"Negative chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"fetching negative sentiment","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#e05656","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":360,"wires":[[]]},
{"id":"b72a948c.cf3be8","type":"ui_chart","z":"99a8098.9e6b4f8","name":"","group":"21094c43.522aa4","order":2,"width":"3","height":"6","label":"sentiment score","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Fetching sentiment score","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":420,"wires":[[]]},
{"id":"21094c43.522aa4","type":"ui_group","z":0,"name":"News search","tab":"a0944f10.6e9ab","order":1,"disp":true,"width":"27","collapse":false},{"id":"a0944f10.6e9ab","type":"ui_tab","z":0,"name":"World Docker","icon":"dashboard","disabled":false,"hidden":false}]